.recipe-form {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  min-height: 300px;
  margin: auto;
  margin-top: 114px;
  padding: 30px 20px 10px 20px;
  background-color: rgba(255, 250, 229, 0.822);
}
