@font-face {
    font-family: 'Shlop';
    src: url('Shlop-Regular.woff2') format('woff2'),
        url('Shlop-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

